@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;300;500;700&family=Lexend+Deca:wght@100;300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
    overflow: hidden;
}

main {
    width: 1440px;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    width: 900px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.first,
.second,
.third {
    width: calc(100%/3);
    height: auto;
    padding: 3em;
}
h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    margin-top: 1.1rem;
    font-weight: 700;
}
p {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    margin-top: 1.5em;
    margin-bottom: 5rem;
    font-weight: 400;
}
a {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding: 8px 15px;
    text-decoration: none;
    color: #000;
    background-color: hsl(0, 0%, 95%);
    border-radius: 20px;
}
a:hover {
    background-color: transparent;
    border: 1px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}

.first {
    background-color: hsl(31, 77%, 52%);
}

.second {
    background-color: hsl(184, 100%, 22%);
}

.third {
    background-color: hsl(179, 100%, 13%);
}

/* Mobile */
@media(max-width:400px) {
    .flex {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

}